@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: #292929;
  --color-fg: #eee0cb;
  --color-accent: #839788;
  /* --font-sans: "Cal Sans", sans-serif; */
  --font-mono: "JetBrains Mono", monospace;
}

body {
  @apply bg-bg text-accent font-mono selection:bg-fg selection:text-bg;
}

main {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
